@import '~antd/dist/antd.css';

.App {
  padding: 50px 100px;
}

.wordBox {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.wordItem {
  width: 25%;
  display: flex;
  font-size: 16px;
  border-top: 1px solid skyblue;
  border-bottom: 1px solid yellowgreen;
  padding: 8px 10px;
  margin-bottom: 20px;
  align-items: center;
}
.itemSwitch {
  margin-right: 20px;
}
.itemLabel {
  margin-right: 20px;
  font-weight: 600;
}